{% extends "disposicion.html" %}

<!-- Lista de Fechas en las que se han registrado reportes semanales -->
{% block body %}
    <h1>Lista de Fechas Con Reportes Semanales Registrados</h1>

    <!-- Tabla con la lista de las fechas de las semanas con reportes semanales.

    Ahora, en la página de la lista de fechas de los reportes semanales, voy a importar la fecha de inicio y la fecha
    de fin de la tabla “Semanas para Reportes Semanales”. Y crearé un bucle “for” que agarre todos los registros de
    esa tabla.

    Se ve perfecto sin el Bootstrap. Por lo tanto, no le pondré Bootstrap ni a esta ni a ninguna tabla pequeña.

    Para poner el formato como “dia/mes/año”, usaré el filtro “|date:”d/m/y” ”

    Ahora, usando notación Jinja, pondré la ID de cada semana en el enlace a cada página con la lista de reportes
    de esa semana (en el enlace azul).
    -->

<!--    <div class="row">   &lt;!&ndash; Fila del Grid 1x2 de Boostrap &ndash;&gt;-->

<!--        <div class="col table-responsive">  &lt;!&ndash; Columna de la izquierda de la pantalla del grid &ndash;&gt;-->
<!--          <table class="table table-bordered">-->
          <table>
              <tbody>
                <th>Chofer</th>
                <th>Reportes de Esa Semana</th>

                <!-- Fechas con reportes -->
                {% for fecha in lista_de_fechas_reportes_semanales %}
                    <tr>    <!-- Fila con fecha -->
                        <td>    <!-- Semana -->
                            Del {{fecha.fecha_de_inicio_de_semana_a_evaluar|date:"j/n/y"}} al
                            {{fecha.fecha_final_de_semana_a_evaluar|date:"j/n/y"}}
                        </td>
                        <td>    <!-- Enlace con reportes de esa semana -->
                            <a href="lista-reportes-semanales/{{fecha.id}}">Ver Lista de Reportes</a>
                        </td>
                    </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>

<!--        <div class="col"></div> &lt;!&ndash; Columna derecha del grid. Esto estará vacío. &ndash;&gt;-->

<!--    </div>  &lt;!&ndash; Fin de la fila del grid &ndash;&gt;-->



{% endblock %}