{% extends "disposicion.html" %}

<!-- Lista de Fechas en las que se han registrado reportes semanales -->
{% block body %}
    <h1>Lista de Fechas Con Reportes Semanales Registrados</h1>

    <!-- Tabla con la lista de las fechas de las semanas con reportes semanales.
    -->
    <div class="table-responsive">
      <table class="table table-bordered">
          <tbody>
            <th>Chofer</th>
            <th>Reportes de Esa Semana</th>

            <tr>
                <td>
                    Hola
                </td>
                <td>
                    <a href="#">Ver Lista de Reportes</a>
                </td>
            </tr>
          </tbody>
      </table>
    </div>



{% endblock %}