{% extends "disposicion.html" %}

<!-- Lista de Reportes Semanales de la Semana Seleccionada -->
{% block body %}

    <!-- Primero, necesito imprimir la fecha del lunes y la fecha del domingo de esa semana en el título <h1> de la
    página.

    SOLO DEBE APARECER UN SOLO REGISTRO para imprimir el título de la página.
    -->
    <h1>
        Lista de Reportes de la Semana del {{semana_seleccionada.fecha_de_inicio_de_semana_a_evaluar|date:"j/n/y"}} al
        {{semana_seleccionada.fecha_final_de_semana_a_evaluar|date:"j/n/y"}}
    </h1>





{% endblock %}