{% extends "disposicion.html" %}

<!-- Vista Detallada de un Reporte Semanal -->
{% block body %}

    <!-- -->
    <h1>
        Reporte de ...
    </h1>

    <br>
    <br>

    <!-- Horas de clases dadas -->
    <p><b>Horas de clases dadas</b></p>
    <p>{{reporte_semanal_seleccionado.horas_trabajadas_en_la_semana}} Horas</p>


    <p>
        <b>Clases canceladas</b>
    </p>

    <p>
        <b>Clases cambiadas a otro horario</b>
    </p>

    <p>
        <b>Fecha</b>
    </p>


    <br>
    <br>
    <!-- Enlace para volver a la página anterior -->
    <a href="#" style="text-decoration: none;">
        < Volver a la Lista de Reportes de la Semana Seleccionada
    </a>
{% endblock %}