<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Título de la web app -->
    <title>{% block title %}Escuela de Conducción{% endblock %}</title>

    <!-- CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <style>

<!--        .titulo-barra-navegacion {-->
<!--            background-color: red !important;-->
<!--        }-->
    </style>
</head>
<!-- Esto me debería mantener el footer de Bootstrap al fondo de la página, independientemente de que haya mucho o poco
contenido en la página (fuente: https://stackoverflow.com/questions/40853952/bootstrap-footer-at-the-bottom-of-the-page
.)  -->
<body class="d-flex flex-column min-vh-100">

<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand titulo-barra-navegacion" href="{% url 'index' %}">ESCUELA DE CONDUCCIÓN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-- Esto renderiza el enlace para cerrar sesión si has iniciado sesión -->
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
                </li>
            {% else %}
                <!-- Enlace para iniciar sesión, el cual aparece si no la has iniciado -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
                </li>
            {% endif %}

      </ul>
    </div>
  </div>
</nav>

<!-- Esto me permitirá insertar footer, la barra de navegación, y todo el código de este archivo en el resto
  de las páginas de la aplicación web -->
<div class="container-fluid">
    {% block body%}

    {% endblock %}
</div>

<!-- "mt-auto" o "margin top auto" me mantendrá el pie de la página al fondo de la página, independientemente
 de que haya mucho o poco contenido en la página -->
<footer class="mt-auto">
    <!-- Aviso de copyright. El script que agregué va a actualizar el año automáticamente cada año (fuente:
    https://kerstinmartin.com/blog/copyright-notice ). -->
    <span class="mb-3 mb-md-0 text-muted">
      Copyright © <script>document.write(new Date().getFullYear())</script>
    </span>

    <p>
        Aviso: este sitio web usa cookies, las cuales toman información privada suya.
    </p>

</footer>

<!-- JS del Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
</script>
</body>
</html>