{% extends "disposicion.html" %}

<!-- Página de horario del chofer logueado.

NO SE DEBE PODER ENTRAR A ESTA PAGINA SI NO ES ESTÁ LOGUEADO.
-->
{% block body %}

    <!-- Usando Jinja, imprimiré el nombre del chofer logueado aquí -->
    <h1>Horario de Clases del Chofer {{chofer_logueado.nombre}} {{chofer_logueado.apellidos}}</h1>

    <!-- Esto renderiza cada semana dentro de la tabla "Semana"

    Cada semana tendrá su propio horario.

    Necesito esto para evitar conflictos entre las fechas y los horarios que puede que no hayan sido editados. Además,
    esto me dejará fácilmente agarrar la fecha de cada dia de la semana para el horario.
    -->
    {% for semana in lista_de_semanas %}

        <h4>{{semana.nombre_de_la_semana}}</h4>

        <!-- Tabla con los horarios del chofer.

        RECUERDA HACER LA TABLA DEL HORARIO USANDO EL GRID DE BOOTSTRAP (para que así se pueda ver bien en móviles).

        Voy a ir imprimiendo la fecha de ese día al lado del título de cada día.

        Mira las tablas responsive de bootstrap: https://getbootstrap.com/docs/5.3/content/tables/ . La bordered tables,
        y la de horizontal scroll me llaman la atención para móviles.

        Usare la de horizontal scroll: meter todos los 7 días de la semana en una pantallita chiquita haría que los
        horarios sean difíciles de leer.

        -->
        <!-- Tabla con todos los horarios.

        Crearé un grid de bootstrap de 1 fila y 7 columnas, donde cada columna será una tabla de cada día.

        Cada día de la semana debe estar dentro de una columna del Grid.

        "date: d M" cambia el formato de la fecha para que salga como "09 Ene".

        Para el <td> que mostrará los turnos del lunes, haré un bucle “for” que imprimirá todos los turnos
        del lunes. Sin embargo, quiero asegurarme que me imprima los turnos del lunes DE ESA SEMANA. Tengo
        que comparar la semana de los turnos del lunes, y esa semana debe ser la misma que la semana de esa
        iteración de la lista de semanas.

        Para hacer la comparación, la cual haré usando Jinja en el archivo HTML, compararé el campo
        “semana_del_turno” de la tabla “HorariosLunes” (el cual es una ID, el cual es un integer) con el
        campo “id” de la tabla “Semana”. Sin son iguales, debe imprimirme el turno del lunes de esa semana.

        Una forma improvisada sería crear 7 tablas (7 atributos <table>), en donde con un Bootstrap grid de 1 fila
        por 7 columnas. Así, cada tabla saldría una la lado de la otra si la pantalla es grande, o una debajo del a
        otra si la pantalla es pequeña. Esto no es lo ideal, pero debería funcionar.

         Lo que tuve que hacer es poner un <tr> (table row) por cada fila que quiero debajo de “lunes”, y
         dentro de cada <tr>, pongo un <td> (table descriptor) con cada registro de la bbdd que quiero
         imprimir.

        -->
        <div class="row justify-content-md-center">
            <table class="col"> <!-- Tabla del lunes -->
                <tbody>
                    <!-- El <th> le agregará los títulos a las tablas -->
                    <th>
                        Lunes {{semana.fecha_del_lunes|date:"d M"}}
                    </th>
                    <!-- Turnos del lunes -->
                    {% for turno in turnos_lunes  %}
                        {% if turno.semana_del_turno_id == semana.id %}
                            <tr>
                                <td>
                                    <!-- Estudiante del turno -->
                                    {% for estudiante in estudiantes %}
                                        {% if turno.id_del_estudiante_id == estudiante.id %}
                                            <!-- Nombre --->
                                            {{estudiante.nombre}} {{estudiante.apellidos}}

                                            <!-- Telefono -->
                                            {{estudiante.telefono}}
                                        {% endif %}
                                    {% endfor %}
                                    <br>

                                    <!-- Oficina del turno -->
                                    {% for oficina in oficinas %}
                                        {% if turno.id_de_oficina_id == oficina.id %}

                                            <!-- Nombre de oficina --->
                                            {{oficina.nombre_de_oficina}}

                                        {% endif %}
                                    {% endfor %}
                                    <br>


                                    <b>{{turno.hora_de_inicio_del_turno}} - {{turno.hora_de_fin_del_turno}}</b>
                                </td>
                            </tr>

                        {% endif %}
                    {% endfor %}

                </tbody>
            </table>

            <table class="col"> <!-- Tabla del martes -->
                <tbody>

                    <th>
                        Martes {{semana.fecha_del_martes|date:"d M"}}
                    </th>

                    <!-- Turnos del martes -->
                    {% for turno in turnos_martes  %}
                        {% if turno.semana_del_turno_id == semana.id %}
                            <tr>
                                <td>
                                    <b>{{turno.hora_de_inicio_del_turno}} - {{turno.hora_de_fin_del_turno}}</b>
                                </td>
                            </tr>

                        {% endif %}
                    {% endfor %}

                </tbody>
            </table>

            <table class="col"> <!-- Tabla del miercoles -->
                <tbody>

                    <th>
                        Miércoles {{semana.fecha_del_miercoles|date:"d M"}}
                    </th>

                    <!-- Turnos del miercoles -->
                    {% for turno in turnos_miercoles  %}
                        {% if turno.semana_del_turno_id == semana.id %}
                            <tr>
                                <td>
                                    <b>{{turno.hora_de_inicio_del_turno}} - {{turno.hora_de_fin_del_turno}}</b>
                                </td>
                            </tr>

                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            <table class="col"> <!-- Tabla del jueves -->
                <tbody>
                    <th>
                        Jueves {{semana.fecha_del_jueves|date:"d M"}}
                    </th>

                    <!-- Turnos del jueves -->
                    {% for turno in turnos_jueves  %}
                        {% if turno.semana_del_turno_id == semana.id %}
                            <tr>
                                <td>
                                    <b>{{turno.hora_de_inicio_del_turno}} - {{turno.hora_de_fin_del_turno}}</b>
                                </td>
                            </tr>

                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            <table class="col"> <!-- Tabla del viernes -->
                <tbody>

                    <th>
                        Viernes {{semana.fecha_del_viernes|date:"d M"}}
                    </th>

                    <!-- Turnos del viernes -->
                    {% for turno in turnos_viernes  %}
                        {% if turno.semana_del_turno_id == semana.id %}
                            <tr>
                                <td>
                                    <b>{{turno.hora_de_inicio_del_turno}} - {{turno.hora_de_fin_del_turno}}</b>
                                </td>
                            </tr>

                        {% endif %}
                    {% endfor %}

                </tbody>
            </table>

            <table class="col"> <!-- Tabla del sábado -->
                <tbody>

                    <th>
                        Sábado {{semana.fecha_del_sabado|date:"d M"}}
                    </th>

                    <!-- Turnos del sábado -->
                    {% for turno in turnos_sabado  %}
                        {% if turno.semana_del_turno_id == semana.id %}
                            <tr>
                                <td>
                                    <b>{{turno.hora_de_inicio_del_turno}} - {{turno.hora_de_fin_del_turno}}</b>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            <table class="col"> <!-- Tabla del domingo -->
                <tbody>
                    <th>
                        Domingo {{semana.fecha_del_domingo|date:"d M"}}
                    </th>

                    <!-- Turnos del domingo -->
                    {% for turno in turnos_domingo  %}
                        {% if turno.semana_del_turno_id == semana.id %}
                            <tr>
                                <td>
                                    <b>{{turno.hora_de_inicio_del_turno}} - {{turno.hora_de_fin_del_turno}}</b>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>  <!-- Fin de la fila con el grid 1x7 de Bootstrap (fin del as 7 tablas) -->

    {% endfor %} <!-- Fin del bucle de las semanas -->

{% endblock %}