{% extends "disposicion.html" %}

<!-- Página de horario del chofer logueado.

NO SE DEBE PODER ENTRAR A ESTA PAGINA SI NO ES ESTÁ LOGUEADO.
-->
{% block body %}

    <!-- Usando Jinja, imprimiré el nombre del chofer logueado aquí -->
    <h1>Horario de Clases del Chofer {{chofer_logueado.nombre}} {{chofer_logueado.apellidos}}</h1>

    <!-- Esto renderiza cada semana dentro de la tabla "Semana"

    Cada semana tendrá su propio horario.

    Necesito esto para evitar conflictos entre las fechas y los horarios que puede que no hayan sido editados. Además,
    esto me dejará fácilmente agarrar la fecha de cada dia de la semana para el horario.
    -->
    {% for semana in lista_de_semanas %}

        <h4>{{semana.nombre_de_la_semana}}</h4>

        <!-- Tabla con los horarios del chofer.

        RECUERDA HACER LA TABLA DEL HORARIO USANDO EL GRID DE BOOTSTRAP (para que así se pueda ver bien en móviles).

        Voy a ir imprimiendo la fecha de ese día al lado del título de cada día.

        Mira las tablas responsive de bootstrap: https://getbootstrap.com/docs/5.3/content/tables/ . La bordered tables,
        y la de horizontal scroll me llaman la atención para móviles.

        Usare la de horizontal scroll: meter todos los 7 días de la semana en una pantallita chiquita haría que los
        horarios sean difíciles de leer.

        -->
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <!-- Esto le agregará los títulos a las tablas. esto tiene que estar dentro de una fila del
                    Grid de Bootstrap.

                    Cada día de la semana debe estar dentro de una columna del Grid.

                    "date: d M" cambia el formato de la fecha para que salga como "09 Ene".

                    Para el <td> que mostrará los turnos del lunes, haré un bucle “for” que imprimirá todos los turnos
                    del lunes. Sin embargo, quiero asegurarme que me imprima los turnos del lunes DE ESA SEMANA. Tengo
                    que comparar la semana de los turnos del lunes, y esa semana debe ser la misma que la semana de esa
                    iteración de la lista de semanas.

                    Para hacer la comparación, la cual haré usando Jinja en el archivo HTML, compararé el campo
                    “semana_del_turno” de la tabla “HorariosLunes” (el cual es una ID, el cual es un integer) con el
                    campo “id” de la tabla “Semana”. Sin son iguales, debe imprimirme el turno del lunes de esa semana.

                     Lo que tuve que hacer es poner un <tr> (table row) por cada fila que quiero debajo de “lunes”, y
                     dentro de cada <tr>, pongo un <td> (table descriptor) con cada registro de la bbdd que quiero
                     imprimir.
                    -->

                        <th>
                            Lunes {{semana.fecha_del_lunes|date:"d M"}}
                        </th>
                        <th>
                            Martes {{semana.fecha_del_martes|date:"d M"}}
                        </th>
                        <th>
                            Miércoles {{semana.fecha_del_miercoles|date:"d M"}}
                        </th>
                        <th>
                            Jueves {{semana.fecha_del_jueves|date:"d M"}}
                        </th>
                        <th>
                            Viernes {{semana.fecha_del_viernes|date:"d M"}}
                        </th>
                        <th>
                            Sábado {{semana.fecha_del_sabado|date:"d M"}}
                        </th>
                        <th>
                            Domingo {{semana.fecha_del_domingo|date:"d M"}}
                        </th>


                    <!-- Esto llama cada horario registrado en la base de datos -->

                    <!-- Fila de tabla con un solo turno -->
<!--                    <tr>-->
                        <!-- Turnos del lunes -->
                        {% for turno in turnos_lunes  %}
                            {% if turno.semana_del_turno_id == semana.id %}
                                <tr>
                                    <td>
                                        {{turno.hora_de_inicio_del_turno}}
                                    </td>
                                </tr>

                            {% endif %}
                        {% endfor %}
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
<!--                    </tr>-->

                </tbody>
            </table>
        </div>  <!-- Fin de la tabla -->

    {% endfor %} <!-- Fin del bucle de las semanas -->

{% endblock %}