{% extends "disposicion.html" %}

<!-- Página de horario del chofer logueado.

NO SE DEBE PODER ENTRAR A ESTA PAGINA SI NO ES ESTÁ LOGUEADO.
-->
{% block body %}

    <!-- Usando Jinja, imprimiré el nombre del chofer logueado aquí -->
    <h1>Horario de Clases del Chofer {{chofer_logueado.nombre}} {{chofer_logueado.apellidos}}</h1>

    <!-- Esto renderiza cada semana dentro de la tabla "Semana"

    Cada semana tendrá su propio horario.

    Necesito esto para evitar conflictos entre las fechas y los horarios que puede que no hayan sido editados. Además,
    esto me dejará fácilmente agarrar la fecha de cada dia de la semana para el horario.
    -->
    {% for semana in lista_de_semanas %}

        <h4>{{semana.nombre_de_la_semana}}</h4>

        <!-- Tabla con los horarios del chofer.

        RECUERDA HACER LA TABLA DEL HORARIO USANDO EL GRID DE BOOTSTRAP (para que así se pueda ver bien en móviles).

        Voy a ir imprimiendo la fecha de ese día al lado del título de cada día.

        Mira las tablas responsive de bootstrap: https://getbootstrap.com/docs/5.3/content/tables/ . La bordered tables,
        y la de horizontal scroll me llaman la atención para móviles.

        Usare la de horizontal scroll: meter todos los 7 días de la semana en una pantallita chiquita haría que los
        horarios sean difíciles de leer.

        -->
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <!-- Esto le agregará los títulos a las tablas. esto tiene que estar dentro de una fila del
                    Grid de Bootstrap.

                    Cada día de la semana debe estar dentro de una columna del Grid.

                    "date: d M" cambia el formato de la fecha para que salga como "09 Ene".
                    -->

                        <th>
                            Lunes {{semana.fecha_del_lunes|date:"d M"}}
                        </th>
                        <th>
                            Martes
                        </th>
                        <th>
                            Miércoles
                        </th>
                        <th>
                            Jueves
                        </th>
                        <th>
                            Viernes
                        </th>
                        <th>
                            Sábado
                        </th>
                        <th>
                            Domingo
                        </th>


                    <!-- Esto llama cada horario registrado en la base de datos -->

                    <!-- Fila de tabla con un solo turno -->
                    <tr>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>  <!-- Fin de la tabla -->

    {% endfor %} <!-- Fin del bucle de las semanas -->

{% endblock %}