{% extends "disposicion.html" %}

<!-- Desde aquí escribiré todo el código del front-end de la página de inicio. Esto, junto con el "extends", me
llama al código de disposicion.html (para renderizar la barra de navegación y las otras cosas de ese archivo.)-->
{% block body %}
    <h1>Horarios de la Escuela de Conducción</h1>


    {% for msg in messages %}
        <!-- Mensaje de confirmación que aparece si el usuario registra una nueva sanción -->
        <p style="color: green;">{{msg}}</p>
    {% endfor %}


    <!-- Página de inicio que le aparece a los usuarios que han iniciado sesión -->
    {% if user.is_authenticated %}
        <div>
            <p>
                Bienvenido/a, {{user.username}}.
            </p>
        </div>

        <!-- Si el usuario es un chofer, le aparecerá esta página.

        Haré esto en el index.html con Jinja: crearé un bucle for para iterar cada usuario de la tabla Chofer. Luego,
        comparare la ID del usuario logueado con la del usuario de la iteración actual de la tabla chofer. Si está,
        imprimo el texto que debe ver el chofer.
        -->
        {% for chofer in lista_de_choferes %}
            {% if id_del_usuario_logueado == chofer.id_de_usuario_id %}
                <a href="{% url 'horario_chofer_logueado' %}">Consulte aquí su horario</a>
            {% endif %}
        {% endfor %}    <!-- Fin de la página de inicio para Choferes -->

        <!-- Si el usuario es un Secretario o es el Administrador, le aparecerá esta página -->
        {% for secretario in lista_de_secretarios %}
            {% if id_del_usuario_logueado == secretario.id_de_usuario_id or instancia_usuario_logueado.is_superuser == 1 %}
                <p>
                    Consulte aquí los <a href="#">Horarios de los Choferes</a> en las distintas oficinas.
                </p>
                <p>
                    Aquí podrá ver todos los <a href="{% url 'lista_fechas_reportes_semanales' %}">
                    Reportes Semanales</a>.
                </p>
                <p>
                    Si desea tomar <a href="#">Asistencias, haga clic aquí</a>.
                </p>
            {% endif %}
        {% endfor %}    <!-- Fin de la página de inicio para Secretarios y el Administrador -->

    <!-- Página de inicio que le aparece al usuario si no ha iniciado sesión  -->
    {% else %}

        <p>Bienvenido al sistema.</p>

        <p>Para poder usar los servicios de esta aplicación web, por favor, <a href="{% url 'iniciar_sesion' %}">
            inicie sesión.
        </a></p>

        <p>Si no tiene cuenta, contacte al administrador del sitio web para que le cree una y pueda iniciar sesión.</p>

        <p><b>Aviso:</b> este sitio web usa cookies, las cuales toman su información privada.</p>
    {% endif %}



{% endblock %}